@font-face{
    font-family:'Avenir';
    src: url('../fonts/Metropolis-Light.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Punk';
    src: url('../fonts/punkkid.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    font-size:100%;
}
body{
    background-color: #111;
    font-family:'Avenir', times, serif, sans-serif;
    overflow-x: hidden;

    
}
.container{
    position: relative;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

h1{
    margin-bottom: 120px;
    margin-top: 30px;
    color: white;
    font-size: 3em;
    font-family: 'Punk', Times, serif;
    font-weight: normal;
    text-shadow: 4px 2px 0 #000;
}
.boxHeader{
    border:2px solid rgb(255, 115, 0);
    padding: 23px 0px 23px;
    margin-bottom:20px; 
    background-color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.boxHeader:hover{
    background-color:rgb(255, 115, 0)!important;
    color:white;
}

.boxs > div{
    text-align: center;
}

.boxs > div > a{
    padding: 26px;
    color:rgb(255, 115, 0);
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.boxs > div > a:hover{
    color:white;
}

.embed{
    position:absolute;
    top:0px;
    width: 100%;
    height: 100%;
    overflow:hidden ;
    padding-bottom:56.25%; 
    display: flex;
    justify-content: center;
}
.embed > #blockVideo {
    width: 100%;
    z-index: 9999;
    position:absolute;
}
.embed > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border:none;
    margin-top:0px;
}

.footer{
    justify-content: center;
    display: flex;
    margin-top: 100vh;
    position:absolute;
    z-index:999999;

}
.infoUser{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.infoUser input{
    padding: 15px 10px 15px;  
    border-radius: 4px;
    
}
.infoUser label {
    display:flex;
    align-items: center;
    margin-left:10px;
    border:2px solid white;
    color:white;
    padding: 10px 15px 10px;
    border-radius:2px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.infoUser > label:hover{
    background-color: #FFF;
    color:black;
    cursor: pointer;
}
.containerFooter{
    justify-content:center;
    display:flex;
    margin-top: 20px;
    margin-left: -200px;
}
.social{
    flex-direction: row;
    display: flex;
    width: 40px;
    padding:4px;
    margin-left: -57px;
}

.boxSocial{
    margin-top:10px;
}
.logos{
    width: 40px;
    margin: auto;
    margin-right: 10px;
}
.logoDeezer{
    margin-top:20px;
    width: 65px;
}
.youtube{
    margin-top:7px;  
}

@media all and (max-width: 1000px){
    .container{
        text-align: center;
        font-size: 13px;
    }
    
}