@font-face{
    font-family:'Avenir';
    src: url('Metropolis-Light.otf') format(opentype);
    font-weight:normal;
    font-style:normal;
}
*{
    margin:0;
    padding:0;
}
html, body{
    font-family:'Avenir', times, serif, sans-serif;
}
body{
    background:#111;
    overflow-x: hidden;
}

header{
    z-index:1;
    display:flex;
    flex-direction: column;
    align-items: center; 
    z-index: 999;
   
}

.title{
    margin-top:50px;
}

.links{
    z-index:99999;
    margin-top:25px;
    position:absolute;
}

.look{
    padding: 30px 40px 30px;
    border:2px solid #111;
    text-decoration: none;
    color: #111;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-size:22px;
    text-transform: uppercase;
}
.look:hover{
    background: #111;
    color:#FFF;
    cursor:pointer;
}

footer{
    margin-bottom: 50px;
}
.boxInfo{
    
}
.infoUser{
    margin-left:-70px;
    padding:1em;
    display: flex;
    justify-content: center;
}
.infoUser > input, label{    
    font-size:15px;
    line-height: normal;
}
.infoUser > input{
    text-decoration:none;
    border:none;
    border-radius:1px;
    padding: 15px;
}
.infoUser > label{
    border:1px solid #FFF;
    border-radius:2px;
    background-color: rgb(0,0,0,0.1);
    color:#FFF;
    font-size:inherit;
    padding:15px 50px 15px 50px;
    margin-left:20px;
    transition: background-color 0.5s ease, color 0.5s ease; 
}
.infoUser > label:hover{
    background-color: #FFF;
    color:black;
}
.social{
    display: flex;
    justify-content: center;
}
.footerMusic{
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin-left:-110px;
}

.container{
    width: 50px;   
}
.container > a > img{
    width: 100%;
    margin-top: 10px;
}
.logos{
    
}
.logoApple{
    margin-left: 37px;
}
.logoDeezer{
    width: 200%!important;
    margin-top: 33px!important;
}

@media screen and (max-width: 768px) {

    .infoUser {
        flex-direction: column;
        align-items: center;
        margin-left:0px;
    }
    .infoUser > label {
        margin-left:0px;
        margin-top:10px;
    }
    .social{
        margin-left:75px;
    }
    .look{
        font-size:15px;
        padding: 20px 25px 20px;
    }
    .header {
        height: 110vh;
    }

}